<!DOCTYPE html>
<html>
<head>
  <title>Diary</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="#">Online Personal Diary</a>
        </div>

        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#shop">Shop</a></li>
            <li><a href="#showcase">Showcase</a></li>
            <li><a href="#help">Help</a></li>
            <li><a href="#my account">My Account</a></li>
            <li><a href="#cart">Cart <span class="glyphicon glyphicon-asterisk"></span></a></li>
          </ul>
        </div>
      </div>
  </div>

<div class="container-fluid">
	<div class="jumbotron">
    	<h3>Personal Diary App now for your Mobile</h3>
    	<a class="btn btn-primary btn-lg">Download Now!</a>
	</div>
</div>
        <div id="user_nav">
          <% if user_signed_in? %>
            Signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or
            <%= link_to "Sign in", new_user_session_path %>
          <% end %>
        </div>
<%= yield %>

</body>
</html>
